@media only screen and (min-width: 200px) and (max-width: 300px) {
	header {
		flex-direction: column;
		height: auto;
	}
	.navbar ul {
		gap: 5px;
		font-size: 0.6rem;
	}
	.sign ul {
		gap: 10px;
		margin-top: 10px;
		font-size: 0.6rem;
	}
}


@media only screen and (min-width: 301px) and (max-width: 400px) {
	header {
		flex-direction: column;
		height: auto;
	}
	.navbar ul {
		font-size: 0.9rem;
		gap: 25px;
	}
	.sign ul {
		font-size: 0.9rem;
		margin-top: 5px;
	}
}


@media only screen and (min-width: 401px) and (max-width: 450px) {
	header {
		flex-direction: column;
		height: auto;
	}
	.navbar ul {
		font-size: 1rem;
		gap: 50px;
	}
	.sign ul {
		font-size: 1rem;
		margin-top: 5px;
	}
}


@media only screen and (min-width: 451px) and (max-width: 700px) {
	header {
		flex-direction: column;
		height: auto;
	}
	.navbar ul {
		font-size: 1.1rem;
		gap: 70px;
	}
	.sign ul {
		font-size: 1.1rem;
		margin-top: 5px;
	}
}
