* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fce8f3;
    padding-top: 64px;
}


header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 64px;
    z-index: 1000;
    background-color: #fce8f3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
}

.logo {
    padding: 10px 20px; 
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 60px;
    flex-grow: 1;
    font-size: 1.2rem;
}

.sign ul {
    display: flex;
    margin-right: 40px;
    gap: 30px;
    list-style: none;
    flex-grow: 1;
    font-size: 1.2rem;
} 


.hero {
    height: 100vh;
    background: url('.. /image/baby.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 4px 8px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.hero-content{
    width: 100%;

}






.hero-content h1 {
    font-size: 3.5rem;
    color: white;
    text-align: left;
    padding: 10px 30px ;
    max-width: 700px;
    color: #000;
}

.hero-content p {
    font-size: 3rem;
    color: white;
    max-width: 600px;
    margin-top: 20px;
    text-align: left;
    padding: 10px 30px;
    color: #000;
}
.bkw{
    max-width: 100%;
    display: flex;
    justify-content:center;
    gap: 2%;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 40px;
}
.con{
    flex-basis: 48%;
    margin-left: 100px;

}
.con p{
    margin-bottom: 20px;
}
.img{
    flex-basis: 48%;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.bkw .img img{
    border-radius: 10px;
    transition: transform .3s ease;
    
    
}
.bkw .img img:hover{
  transform: scale(1.2);
}
.bkw h1{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 2rem;
}

.venue{
    /* max-width: 1280px;  */
    background-color: #f5c4e0;
    max-width: 100%;
    box-shadow: 0 0 4px 4px pink;
   }
   .house{
     margin-left:30px;
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
     
   }
.i1{
    flex-basis: 20%;
    margin: 2%;
    text-align: center; 
    margin-left:30px; 
    padding: 20px 0px;
    
    
}
.i1 img{
    width: 100%;
    border-radius: 50%;
    transition: all .3s ease;
    border: 4px solid maroon;
}
.i1 img:hover{
  transform: scale(1.05);
  border: 2px solid pink;
  
}

.game{
    display: flex;
    margin-top: 40px;
    max-width: 100%;
    flex-wrap: wrap;
    margin-left: 20px;
}
.g1{
    flex-basis: 20%;
    margin: 2%;
    font-size: 1.3rem;
    font-weight: 600;
}
.g1 img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.gh{
    text-align: center;
    margin-top: 50px;
    margin-bottom: -20px;
    font-size: 2.4rem;
    font-weight: 604;

}

.mid1{
    display: flex;
    justify-content: center;
    gap: 200px;
    background-color: rgb(235, 243, 243);
    padding: 20px 30px;
}
.link li{
    list-style: none;
    margin-bottom: 10px;
}
.link h1{
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.mid2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.mid3{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px ;
    
}
.mid4{
    padding: 20px 30px;
}
.mid4 p{
    margin-bottom: 10px;
    font-size: .9rem;
}
.mid4 p:last-child{
    font-size: 1rem;

}




@media only screen and (max-width:768px){

    header {
        flex-direction: column;
        height: auto;
        padding: 10px 0; 
        width: 100%;
    }

    .logo {
        padding: 10px;
    }

    .navbar ul {
        gap: 20px;
        text-align: center;
        padding: 10px 0;
        width: 100%; 
    }

    .sign ul {
        gap: 15px;
        margin-right: 0;
        padding: 10px 0;
        width: 100%; 
    }
    .hero-content h1{
        font-size: 2.5rem;
    }
    .hero-content p{
        font-size: 2rem;
    }
    .img{
        margin-right: 100px;
    }
    .con{
        flex-basis: 70%;
    }
    
    .i1{
        flex-basis: 40%;
    }
    .mid1{
        gap: 100px;
    }
   
}


@media only screen and (max-width:480px){

    .navbar ul,
    .sign ul {
        font-size: 1rem;
    }
    .hero-content h1{
        font-size: 2rem;
    }
    .hero-content p{
        font-size: 1.5remrem;
    }
    .bkw{
        flex-direction: column;
        gap: 4%;
    }
    .con{
        flex-basis: 98%;
        margin-left: 40px;

    }
    .img{
        flex-basis: 98%;
        margin-left: 0px;
    }
    .bkw .con p{
        font-size: 1.2rem;
        margin-bottom: 20px;
        width: 50%;
    }
    .con h1{
        font-size: 1.3rem;
    
    }
    .img img{
        margin-left: 40px;
    }


    .bkw .img{
        flex-basis: 100%;
    
    }
    .house{
        gap: 0;
    }
     
    .i1{
        flex-basis: 40%;
        margin: 1.5%;
        /* padding: 10px 5px; */
    }
    .g1{
        flex-basis: 40%;
        margin: 5%;
        padding: 10px;
        font-size: 1.1rem;
    }

    .mid1{
        flex-direction: column;
        gap: 10px;
        padding: 10px 30px;
    }
    .mid2{
        flex-direction: column;

    }
    .mid3 i{
        font-size: .85rem;
    }
    .mid4 p:last-child{
        font-size: .85rem;
    
    }

    
    


    
    
}


